# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**1. Import pandas as pd.**

In [1]:
import pandas as pd

<br>

**2. Read `Salaries.csv` as a dataframe called `sal`.**

In [5]:
sal = pd.read_csv('Salaries.csv')

<br>

**3. Check the `head` of the DataFrame.**

In [6]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

<br>

**4. Use the `.info()` method to find out how many entries there are.**

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [25]:
sal.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

<br>

**5. What is the average `BasePay`?**

In [40]:
print("mean:", sal["BasePay"].mean())
print("median", sal["BasePay"].median())
sal["BasePay"].describe()[['mean','50%']]

mean: 66325.44884050643
median 65007.45

mean    66325.448841
50%     65007.450000
Name: BasePay, dtype: float64

<br>

**6. What is the highest amount of `OvertimePay` in the dataset?**

In [45]:
sal["OvertimePay"].max()

245131.88

<br>

**7. What is the `job title` of  `JOSEPH DRISCOLL`?**
> **Note:** Use all caps, otherwise you may get an answer that doesn't match up —there is a lowercase `Joseph Driscoll`).

In [60]:
sal[sal["EmployeeName"] == "JOSEPH DRISCOLL"]["JobTitle"]

array(['CAPTAIN, FIRE SUPPRESSION'], dtype=object)

<br>

**8. How much does `JOSEPH DRISCOLL` make (including `benefits`)?**

In [61]:
sal[sal["EmployeeName"] == "JOSEPH DRISCOLL"]["TotalPayBenefits"].values[0]

270324.91

<br>

**9. What is the `name` of `highest paid` person (including `benefits`)?**

In [62]:
sal[sal["TotalPayBenefits"] == sal["TotalPayBenefits"].max()]["EmployeeName"].values[0]

'NATHANIEL FORD'

<br>

**10. What is the `name` of `lowest paid` person (including `benefits`)** 
> Do you notice something strange about how much he or she is paid?

In [63]:
sal[sal["TotalPayBenefits"] == sal["TotalPayBenefits"].min()]["EmployeeName"].values[0]

'Joe Lopez'

<br>

**11. What was the average aka `mean` `BasePay` of all employees per year? (`2011-2014`)?**

In [71]:
sal.groupby("Year").mean()["BasePay"]

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

<br>

**12. How many `unique` `job titles` are there?**

In [96]:
import numpy as np
np.sort(sal["JobTitle"].unique())
sal["JobTitle"].nunique()

2159

<br>

**13. What are the top 5 most common jobs?**

In [99]:
sal["JobTitle"].value_counts()[:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

<br>

**14. How many Job Titles were represented by a single person, in 2013? (e.g. Job Titles with only one example in 2013?)**

In [166]:
job_titles = np.array(sal["JobTitle"].value_counts()[sal["JobTitle"].value_counts().values == 1].index)
len(sal[sal["Year"] == 2013]["JobTitle"].value_counts()[sal[sal["Year"] == 2013]["JobTitle"].value_counts().values == 1])

(sal[sal["Year"] == 2013]["JobTitle"].value_counts() == 1).sum()
len(sal[sal["Year"] == 2013]["JobTitle"].value_counts() == 1)

1051

<br>

## Bonus

**<span style="color:red">Hard: </span> How many people have the word `Chief` in their job title?**

In [165]:
(sal["JobTitle"].str.contains("Chief")).sum()

423

<br>