# This jupyter notebook adjoins the datacamp loops lesson
<hr>

We use loops to go through a specific set of lines of code multiple times based on a condition

# While Loop
A while loop is some sort of if statement. 
It executes the code inside, if the condition is True.
Oppose to an if statement, the while loop will continue to execute this code over and over again as long as the condition is true. 

Syntax: 

```
while condition: 
    expression
```
When you can reformulate the problem as 'repeating an action until a particular condition is met' a while loop is often the way to go. 

The while loop will execute as long as the condition is met. 

<span style="color:red">We need to remember that the while loop will run until the condition is not met. This means that we need some way to alter the variables in the condition in order to eventually stop the while loop from running.</span>

When the while loop's condition is not met, the code inside the loop will not be executed anymore and python will move on to the next executable line of code below the loop.

### Note: Conditionals are allowed inside loops.

In [1]:
some_var = 10
while(some_var > 0):
    if some_var % 2 == 0:
        print(some_var, "is even.")
    else:
        print(some_var, "is odd.")
    some_var = some_var - 1

10 is even.
9 is odd.
8 is even.
7 is odd.
6 is even.
5 is odd.
4 is even.
3 is odd.
2 is even.
1 is odd.

<hr> 

# For Loop

```
for var in seq :
    expression
```

Read as: for each var, a variable, in seq, a sequence, execute the expressions

In [2]:
some_list = [11,12,13,14,15]
for var in some_list:
    print(var)

11
12
13
14
15

When you run this script, Python encounters the for loop and evaluates the sequence element, a list in our case.

It sees that it's a list containing 5 elements. 

Then the actual iteration starts. 

In the first run, Python stores the first element in some_list, so the integer 1, in the variable var. 

Next, the expression, print(var), is executed, printing out 1. 

In the second iteration, python stores the second value of some_list in var, being 2 now, and prints out the var again. 

This process continues until all vars in some_list have been iterated over and we end up with 5 separate printouts. 

## Enumerate() Function
In this solution you don't have access to the index of the elements you're iterating over. 

Say that, together with printing out the var stored in some_list, you also want to display the index in the list.

To achieve this you can use the enumerate() function.

enumerate(some_list) produces two values on each iteration: the index of the value and the value itself.

Instead of a single variable varm you now write index, height seperated by a comma.

Now on each iteration, index will contain the index and var will contain the value.

In [3]:
for index, value in enumerate(some_list):
    print("index:", str(index), ": ", str(value))

index: 0 :  11
index: 1 :  12
index: 2 :  13
index: 3 :  14
index: 4 :  15

<hr>

You can also create a for loop that iterates over every character of a string, "python" for example.

In [4]:
for char in "python":
    print(char.capitalize())

P
Y
T
H
O
N

In [5]:
for index, char in enumerate("python"):
     print("index:", str(index), ": ", str(char.capitalize()))

index: 0 :  P
index: 1 :  Y
index: 2 :  T
index: 3 :  H
index: 4 :  O
index: 5 :  N

<hr>

# Looping Data Structures

## Looping Over Dictionaries

In [6]:
world = { "afghanistan": 30.55,
          "albania": 2.77,
          "algeria":39.21 }

The world dictionary contains country names as **keys** and corresponding populations as **values**. 

Call the dictionary method ```.items()``` on a dictionary to generate a key and value for each iteration of a for loop.

The first value returned is the key, and the second value will be the value.

In [7]:
for key, value in world.items():
    print(key, ": ", value)

afghanistan :  30.55
albania :  2.77
algeria :  39.21

### Note: Dictionaries are inherently <span style="color:red"> unordered</span>, meaning the order in which they are iterated over is not fixed. 

<hr>

In [8]:
for key in world.keys():
    print(key)

afghanistan
albania
algeria

In [9]:
for value in world.values():
    print(value)

30.55
2.77
39.21

<hr>

## Looping over Numpy Arrays:

In [10]:
import numpy as np
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])

bmi = np_weight / np_height ** 2

for val in bmi: 
    print(val)

21.85171572722109
20.97505668934241
21.750282138093777
24.74734749867025
21.44127836209856

Looping over 2D-Numpy Arrays:

In [11]:
meas = np.array([np_height, np_weight])

If we want to print out each element in this 2D array separately, the same basic for loop will not work. 

The 2D array is actually build up from an array of 1D arrays. 

To visit every element of an array, you can use a Numpy function ```nditer()```

This function will print out all the heights and then all the weights. Think of each row / 1d array inside of a 2D array being printed one after the other.

In [12]:
for val in np.nditer(meas):
    print(val)

1.73
1.68
1.71
1.89
1.79
65.4
59.2
63.6
88.4
68.7

<hr> 

## Looping over Pandas Data Frames

In [13]:
import pandas as pd
brics = pd.read_csv("BRICS.csv", index_col=0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [14]:
for val in brics: 
    print(val)

country
capital
area
population

Using a for loop over a DataFrame results in column names.

In pandas, you have to mention explicitly that you want to iterate over the rows using the ```iterrows()``` method on the brics DataFrame, thus specifying another "sequence". 

The iterrows method looks at the DataFrame, and on each iteration generates two pieces of data: the label of the row and then the actual data in the row as a Pandas Series. 

Syntax: 
``` for label, row_as_series in brics.iterrows():
        expression
```

In [15]:
for label, row_as_series in brics.iterrows():
    print(label)
    print(row_as_series)

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population         1252
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population       1357
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In the first iteration the label is 'BR', and the row is this entire Pandas Series. 

Because this row variable on each iteration is a Series, you can easily select additional information from it using the subsetting techniques.

Suppose you only want to print out the capital on each iteration.

In [16]:
for label, row in brics.iterrows():
    print(label, ": ", row['capital'])

BR :  Brasilia
RU :  Moscow
IN :  New Delhi
CH :  Beijing
SA :  Pretoria

Adding a new column to the brics DataFrame, named 'named_length', containing the number of characters the country's name counts.

In [17]:
for label, row in brics.iterrows():
    brics.loc[label, "name_length"] = len(row["country"])
brics

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40          6.0
RU        Russia     Moscow  17.100      143.50          6.0
IN         India  New Delhi   3.286     1252.00          5.0
CH         China    Beijing   9.597     1357.00          5.0
SA  South Africa   Pretoria   1.221       52.98         12.0

### This technique is not efficient, because you're creating a Series object on every iteration. Which is bad for huge data sets

## A Better Approach
If you want to calculate an entire DataFrame column by applying a function on a particular column in an element-wise fashion is by using ```apply()``` method. The apply function does vectorized operations.

<span style="color:red">In this case you don't need a for loop</span>

In [18]:
brics["name_length"] = brics["country"].apply(len)
brics

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40            6
RU        Russia     Moscow  17.100      143.50            6
IN         India  New Delhi   3.286     1252.00            5
CH         China    Beijing   9.597     1357.00            5
SA  South Africa   Pretoria   1.221       52.98           12

You're selecting the country column from the brics DataFrame, and then, on this column, you apply the len function. 

```apply()``` calls the len function with each country name as input and produces a new array, that you can easily store as a new column, "name_length".

Not only is this more efficient it's also easier to read.