<h1 style="color:balck"> Pandas Playground - Your Turn! </h1>

<h2 style="color:red"> 1. Importing Libraries </h2>

In [30]:
import pandas as pd

---
<br>

<h2 style="color:red"> 2. Reading Data </h2>

In [42]:
play = pd.read_csv("./data/player_data.csv")
play.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [92]:
new_df = pd.DataFrame({"num":[0,0,0,0,1,1,1,1],"Height":[1,2,5,6,8,9,0,8], "Width":[4,5,6,7,4,1,2,3],})
prod_0 = new_df[new_df['num'] == 0]
prod_0

   num  Height  Width
0    0       1      4
1    0       2      5
2    0       5      6
3    0       6      7

In [108]:
def test(df):
    new_df = pd.DataFrame()
    return new_df

In [109]:
test(new_df)

   num  Height  Width
0    0       1      4
   num  Height  Width
1    0       2      5
   num  Height  Width
2    0       5      6
   num  Height  Width
3    0       6      7
   num  Height  Width
4    1       8      4
   num  Height  Width
5    1       9      1
   num  Height  Width
6    1       0      2
   num  Height  Width
7    1       8      3

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
dtype: object

In [60]:
def height_to_cm(height_str):
    ft_in = height_str.split('-')
    tot_inch = (int(ft_in[0]) * 12) + int(ft_in[1])
    cm = round(tot_inch * 2.54, ndigits=2)
    return cm

In [64]:
play['height'].apply(height_to_cm)

0       208.28
1       205.74
2       218.44
3       185.42
4       198.12
5       205.74
6       200.66
7       190.50
8       190.50
9       198.12
10      195.58
11      182.88
12      210.82
13      198.12
14      200.66
15      205.74
16      198.12
17      195.58
18      193.04
19      195.58
20      177.80
21      213.36
22      200.66
23      208.28
24      185.42
25      200.66
26      195.58
27      195.58
28      198.12
29      187.96
         ...
4520    198.12
4521    187.96
4522    200.66
4523    200.66
4524    200.66
4525    195.58
4526    198.12
4527    203.20
4528    213.36
4529    205.74
4530    187.96
4531    200.66
4532    213.36
4533    185.42
4534    190.50
4535    193.04
4536    210.82
4537    213.36
4538    203.20
4539    208.28
4540    213.36
4541    213.36
4542    190.50
4543    213.36
4544    203.20
4545    210.82
4546    215.90
4547    185.42
4548    215.90
4549    190.50
Name: height, Length: 4549, dtype: float64

In [65]:
play['height'].value_counts()

6-7     473
6-8     426
6-9     424
6-5     418
6-6     403
6-3     401
6-4     340
6-2     327
6-10    324
6-11    229
6-1     229
7-0     164
6-0     150
5-11     61
7-1      52
5-10     48
7-2      26
5-9      15
7-3      13
5-7       6
7-4       4
7-5       4
5-8       3
7-6       2
5-3       2
7-7       2
5-6       2
5-5       1
Name: height, dtype: int64

---
<br>

<h2 style="color:Red"> 3. Initial Exploration</h2>

<h3 style="color:blue"> View the 'shape' of your data. </h3>

**```df.shape``` returns the shape of your data as a "tuple" ---> (#row, #col)**

<br>

<h3 style="color:blue"> View the 'features' of your data aka the columns. </h3>

**```df.columns``` returns a list of all columns present in your dataframe**

**Notice how this is an "index" object? That is because a Pandas dataframe technically has 2 indexes, one for the rows and another for the columns**

<br>

<h3 style="color:blue"> View the index. </h3>

**```df.index``` returns an index object describing how rows are indexed**

<br>

<h3 style="color:blue"> View a matrix of all data points. </h3>

**```df.values``` returns a matrix containing all data pints**

<br>

<h3 style="color:blue"> View the "data types" present in your DataFrame. </h3>

**```df.dtypes()``` ---> returns a series with each column and its dtype**

<br>

<h3 style="color:blue"> View the "Head". </h3>

**```df.head(m)``` ---> returns first 'm' rows**

**```df.head()``` also works on a series, aka a column.**

<br>

<h3 style="color:blue"> View the "Tail". </h3>

**```df.tail(m)``` ---> returns last 'm' rows**

**```df.tail()``` also works on a series, aka a column.**

<br>

<h3 style="color:blue">  View the 'Transpose' of your DataFrame. </h3>

**```df.T``` and ```df.transpose()```return a new datafame where the cols are now rows and rows are columns**

In [ ]:
# Look at shape for evidence of the change in dimension.
print(cs.shape, cs.T.shape)
print(cs.T.shape == cs.shape)

In [ ]:
cs.T.head()

<br>

<h3 style="color:blue"> View the 'Descriptive Statistics' of all numerical columns in Dataframe. </h3>

**```df.describe()``` returns a new datafame with all of the basic stats for each column.**

**```df.describe().transpose()``` is just another way of viewing these statistics, but can also be useful.**
> ```.head()``` is not necessary, just there to limit the print size.

---
<br>

<h2 style="color:red"> 4. Sorting Data </h2>

<h3 style="color:blue"> Sort the rows to descend by the index#.</h3>

<h3 style="color:blue"> Sort the columns in alphabetical order.</h3>

<h3 style="color:blue"> Sort all rows by the values of a single column.</h3>

**Notice that the index on the left is now out of order, and the TotalPop column is ascending from its min value up.**

---
<br>

<h2 style="color:red"> 4. Selecting Data </h2>

<h3 style="color:blue"> Use <em>INTEGER-indexing</em> to create a "slice" out of the ROWS of the Dataframe</h3>

<br>

<h3 style="color:blue"> Use <em>INTEGER-indexing</em> to create a "sub-frame" out of the ROWS AND COLUMNS of the Dataframe</h3>

<br>

<h3 style="color:blue"> Use <em>LABEL-indexing</em> to create a "slice" out of the ROWS of the Dataframe</h3>

<br>

<h3 style="color:blue"> Use <em>LABEL-indexing</em> to create a "sub-frame" out of the ROWS AND COLUMNS of the Dataframe</h3>

<br>

<h2 style="color:red"> 4. Boolean Indexing </h2>

<h3 style="color:blue"> We can Boolean-Index a pandas Series.</h3>

<br>

<h3 style="color:blue"> Boolean Indexing an entire DataFrame.</h3>

**a. Create a conditional Series out of a column from the Dataframe you want to index**

**b. Look at the ```Series.value_counts()``` to see the "distribution of True/False**

**c. Use conditional to index your dataframe, you can save this into a new variable (optional).**

**d. View the head of this new dataframe! You can now begin to run descriptive statistics on thisnew sub-Frame!**

<br>

<h2 style="color:red"> 5. "Histogramming" Categorical Data</h2>

**Useful for columns with "categorical" data, Will show how many times a unique value shows up in a column.**

<br>

---
<br>

<h2 style="color:red"> 5. Grouping by Categorical Features. </h2>

**This will group the rows of your df by a categorical feature, This is really useful for answering qquestions like:**
> What questions can we ask about the catefgorical features?

> We can sort by a specific player, a team, a particular year, etc...

<br>